body {
    font-family: 'Lato', sans-serif;
    background: #E29587;  /* fallback for old browsers */
}

h1  {
    font-weight: bold;
    text-align: center;
    color: #A52A2A;
    font-size: 32px;
}

#quiz {
    
    /*margin-left: 10px;*/
    margin: 5% auto;
	background: #ddd6f3;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
	float: center;

}


input {
	margin-bottom: 20px;
	display: block;
}

#textbox {
	height: 25px;
	font-size: 16px;
	border-radius: 5px;
	border: none;
	padding-left: 5px;
}


#button {
	background: #CD5C5C;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}



#button:hover {
	background: white;
	border: 1px solid green;
	color: #ADFF2F;
	cursor: pointer;

}

#after_submit {
	visibility: hidden;
	background: #faaca8;
	padding: 10px 20px 10px 20px;
	width: 400px;
	border-radius: 20px;
    float: center;
    margin: 5% auto;
	/*margin-left: 20px;*/
	font-size: 30px;


}

#picture {
	width: 375px;
	height: 245px;
}



#mc {
	display: inline;
} 